html{
	font-family: 'Roboto', sans-serif;
}

body {
    background-color: #f2f2f2;
    background-image: url("https://www.transparenttextures.com/patterns/black-thread-light.png");
}

input {
	text-align: center;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  	color: grey;
  	text-align: center;
}

.card {
    border-radius: 10px;
}

.adiciona-registro{
	margin-top: 14px;
}