<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
<head>
<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<!--Import materialize.css-->
<link type="text/css" rel="stylesheet"
	href="materialize/css/materialize.min.css" media="screen,projection" />
<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta charset="UTF-8" />
<title>Financeiro App</title>
<link rel="shortcut icon" href="#" />
</head>

<body>
	<nav>
		<div class="nav-wrapper container">
			<a href="/" class="brand-logo">Logo</a>
		</div>
	</nav>

	<div class="container">
		<form method="post" th:action="@{/cadastrarInvestidor}">
			<div class="row">
				<div class="input-field col s12">
					<label for="nome">Nome Investidor </label> <input
						type="text" id="nome" name="nome" />
				</div>
				<div class="input-field col s6">
					<label for="idade">Idade Investidor </label> <input
						type="text" id="idade" name="idade" />
				</div>
				<div class="input-field col s6">
					<label for="perfil">Perfil Investidor </label> <input
						type="text" id="perfil" name="perfil" />
				</div>
				
				<button type="submit" class="waves-effect waves-light btn">
					<i class="material-icons left">add_circle_outline</i>
					Cadastrar Investidor
				</button>
			</div>
		</form>
	</div>

	<!--JavaScript at end of body for optimized loading-->
	<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
</body>
</html>