<!DOCTYPE html>
<html lang="pt" xmlns:th="http://thymeleaft.org">
<head>
	<meta charset="UTF-8">
	<!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>
	<!--Let browser know website is optimized for mobile-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Controle de Treino</title>
</head>
<body>
	<div class="container">
		<h1>Lista de Treino</h1>
		<h3>
			<a href="/cadastrarTreino" class="waves-effect waves-light btn">
				<i class="material-icons left">add_circle_outline</i>Cadastrar Treino
			</a>
		</h3>
	</div>
	
	<div class="container">
		<table>
			<thead>
				<tr>
					<th>Exercício</th>
					<th>Série</th>
					<th>Repetições</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="treino: ${treino}">
					<td><a th:href="${(#mvc.url('TC#detalhesTreino').arg(0, treino.id)).build()}"><span th:text="${treino.exercicio}"></span></a></td>
					<td><span th:text="${treino.series}"></span></td>
					<td><span th:text="${treino.repeticoes}"></span></td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<!--JavaScript at end of body for optimized loading-->
	<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
</body>
</html>

