<!DOCTYPE html>
<html lang="pt" xmlns:th="http://thymeleaft.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css" media="screen,projection"/>
    <!--Import style.css-->
    <link rel="stylesheet" href="style.css">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <meta charset="UTF-8">
    <title>Utilitários</title>
</head>
<body>
    <nav>
        <div class="nav-wrapper teal darken-3">
            <div class="container">
                <div class="row">
                    <a href="/" class="brand-logo">Utilitários</a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li><a href="#"><i class="material-icons left">account_circle</i>Minha Conta</a></li>
                        <li><a href="#"><i class="material-icons left">exit_to_app</i>Sair</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col s12 m6">
                <!-- Card para controle financeiro -->
                <div class="card teal">
                    <div class="card-content white-text">
                        <span class="card-title"><i class="material-icons">attach_money</i>Controle Financeiro</span>
                        <p>Acompanhe suas finanças e investimentos.</p>
                    </div>
                    <div class="card-action">
                        <a href="/financeiro/detalhesfinanceiro" class="white-text">Entrar</a>
                    </div>
                </div>
            </div>
            <div class="col s12 m6">
                <!-- Card para saúde -->
                <div class="card teal">
                    <div class="card-content white-text">
                        <span class="card-title"><i class="material-icons">local_hospital</i>Saúde</span>
                        <p>Gerencie sua saúde e bem-estar.</p>
                    </div>
                    <div class="card-action">
                        <a href="#" class="white-text">Entrar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>
