<!DOCTYPE html>
<html lang="pt">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="/static/style.css">
	<title>Minha Aplicação de Utilitários</title>
</head>
<body>
<header>
	<h1>Minha Aplicação de Utilitários</h1>
</header>
<main>
	<ul>
		<li class="utility-section">
			<h2>Mercado</h2>
			<img src="compra.png" alt="Mercado">
		</li>
		<li class="utility-section">
			<h2>Financeiro</h2>
			<img src="financeiro.png" alt="Financeiro">
		</li>
		<li class="utility-section">
			<h2>Academia</h2>
			<img src="academia.png" alt="Academia">
		</li>
		<li class="utility-section">
			<h2>Anotações</h2>
			<img src="anotacoes.png" alt="Anotações">
		</li>
	</ul>
</main>
<footer>
	<p>&copy; 2023 PH. Todos os direitos reservados.</p>
</footer>
</body>
</html>