<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt">
<head>
<link rel="apple-touch-icon" sizes="180x180"
	href="../image/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32"
	href="../image/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16"
	href="../image/favicon-16x16.png">
<link rel="manifest" href="../image/site.webmanifest">
<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<!--Import materialize.css-->
<link type="text/css" rel="stylesheet"
	href="materialize/css/materialize.min.css" media="screen,projection" />
<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="./reset.css" />
<link rel="stylesheet" href="./style.css" />
<meta charset="UTF-8" />
<title>Cadastro de Compras</title>
</head>
<body>
	<header>
		<nav>
			<div class="nav-wrapper">
				<a href="#" class="brand-logo center">Cadastrar Produtos</a>
			</div>
		</nav>
	</header>

	<div class=row>
		<form class="col s12" method="post">
			<div class="input-field col s12">
				<label class="texto-preto " for="nome">Nome Produto: </label> 
				<input type="text" id="nome" name="nome" />
			</div>
			<div class="input-field col s12">
				<label for="quantidade">Quantidade: </label> 
				<input type="number" id="quantidade" name="quantidade" />
			</div>
			<div class="input-field col s12">
				<label for="preco">Preco: </label> 
				<input type="number" id="preco" name="preco" />
			</div>
			
			<div class="col s12">
				<button type="submit" class="waves-effect waves-light btn" onclick="cadastrarCompras">
					Salvar
				</button>
				<a class="waves-effect waves-light btn" href="/">Inicio</a>
			</div>
		</form>
	</div>
	<!--JavaScript at end of body for optimized loading-->
	<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
</body>
</html>